* {
  margin: 0;
  padding: 0; }

.doodler {
  background-color: rgba(164, 7, 44, 0.904);
  width: 60px;
  height: 85px;
  position: absolute; }

.grid {
  width: 100%;
  height: 100vh;
  background-color: yellow;
  position: relative;
  font-size: 100px;
  text-align: center; }

.platform {
  height: 15px;
  background-color: green;
  position: absolute; }
