// colors 
$bg-platform: rgba(46, 230, 95, 0.819);
$bg-doodle: rgba(164, 7, 44, 0.904);
$bg-game: rgba(41, 77, 218, 0.823)


// $bgColor: (
//     "platform": rgba(46, 230, 95, 0.819),
//     "doodle": rgba(164, 7, 44, 0.904),
//     "bgGame": rgba(41, 77, 218, 0.823)
// )